@model IEnumerable<MyFitnessLife.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoicedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pdfpath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoicedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pdfpath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subscription.Subscriptionid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Userid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Invoiceid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Invoiceid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Invoiceid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
