@model IEnumerable<MyFitnessLife.Models.Visitor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Useragent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referralurl)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Visittime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessionid)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Pagevisited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referralsource)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Hasregistered)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Devicetype)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Useragent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referralurl)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Visittime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sessionid)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Pagevisited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referralsource)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Hasregistered)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Devicetype)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Visitorid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Visitorid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Visitorid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
