@model Tuple<IEnumerable<Feedback>, IEnumerable<User>>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


<header>
    <!--? Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="index.html"><img src="~/HomeDesign/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a asp-action="Home">Home</a></li>
                                        <li><a asp-controller="Home" asp-action="Aboutus">About</a></li>
                                        <li><a asp-controller="Home" asp-action="Services">Services</a></li>
                                        <li><a asp-controller="Home" asp-action="Schedule">schedule</a></li>
                                        <li><a asp-controller="Home" asp-action="Gallery">Gallery</a></li>
                                        <li><a asp-controller="Membershipplans" asp-action="Plans">My Plans</a></li>
                                        <li><a asp-action="Contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                <a asp-action="MemberProfile" class="btn header-btn">My Profile</a>
                            </div>

                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<form asp-controller="Home"></form>
<main>
    <!--? slider Area Start-->
    <div class="slider-area position-relative">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft" data-delay="0.1s">with patrick potter</span>
                                <h1 data-animation="fadeInLeft" data-delay="0.4s">Build Perfect body Shape for good and Healthy life.</h1>
                                <a href="from.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.8s">became a member</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft" data-delay="0.1s">with patrick potter</span>
                                <h1 data-animation="fadeInLeft" data-delay="0.4s">Build Perfect body Shape for good and Healthy life.</h1>
                                <a href="from.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.8s">See my Plans</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video icon -->
        <div class="video-icon">
            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>
        </div>
    </div>
    <!-- slider Area End-->
    <!--? About Area Start -->
    <section class="about-area section-padding30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <img src="~/HomeDesign/assets/img/gallery/about.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle3 mb-35">
                            <span>ABOUT oUR GYM</span>
                            <h2>Safe Body building proper Solutions That Saves our Valuable Time!</h2>
                        </div>
                        <p class="pera-top">Brook presents your services with flexible, convenient and cdpose layouts. You can select your favorite layouts & elements for cular ts with unlimited ustomization possibilities. Pixel-perfect replication of the designers is intended.</p>
                        <p class="mb-65 pera-bottom">Brook presents your services with flexible, convefnient and chient anipurpose layouts. You can select your favorite layouts.</p>
                        <a href="from.html" class="btn">Contact with Trainers?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-2 Area End -->
    <!--? Services Area Start -->
    <section class="services-area pt-100 pb-150 section-bg" data-background="/HomeDesign/assets/img/gallery/section_bg03.png">
        <!--? Want To work -->
        <section class="wantToWork-area w-padding">
            <div class="container">
                <div class="row align-items-end justify-content-between">
                    <div class="col-lg-6 col-md-10 col-sm-10">
                        <div class="section-tittle section-tittle2">
                            <span>oUR sERVICES FOR YOU</span>
                            <h2>PUSH YOUR LIMITS FORWARD We Offer to you</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <a asp-action="Services" class="btn wantToWork-btn f-right">More Services</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <i class="flaticon-fitness"></i>
                        </div>
                        <div class="cat-cap">
                            <h5><a asp-action="Services">QUALITY EQUIPMENT</a></h5>
                            <p>The sea freight service has grown consider ably in recent years. We spend timetting to kn.</p>
                        </div>
                        <div class="img-cap">
                            <a asp-action="Aboutus" class="">Discover More About Us <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <i class="flaticon-healthcare-and-medical"></i>
                        </div>
                        <div class="cat-cap">
                            <h5><a asp-action="Services">health caring</a></h5>
                            <p>The sea freight service has grown consider ably in recent years. We spend timetting to kn.</p>
                        </div>
                        <div class="img-cap">
                            <a asp-action="Aboutus" class="">Discover More About Us <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <i class="flaticon-clock"></i>
                        </div>
                        <div class="cat-cap">
                            <h5><a asp-action="Services">gym strategies</a></h5>
                            <p>The sea freight service has grown consider ably in recent years. We spend timetting to kn.</p>
                        </div>
                        <div class="img-cap">
                            <a asp-action="Aboutus" class="">Discover More About Us <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Area End -->
    <!--? About-2 Area Start -->
    <section class="about-area2 testimonial-area section-padding30 fix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-11 col-sm-11">
                    <!-- about-img -->
                    <div class="about-img2">
                        <img src="~/HomeDesign/assets/img/gallery/about2.png" alt="">
                        <!-- Shape -->
                        <div class="shape-qutaion d-none d-sm-block">
                            <img src="~/HomeDesign/assets/img//gallery/qutaion.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-9 col-sm-9">
                    <div class="about-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-55">
                            <span>Client Feedback</span>
                            <h2>What Our Client thik about our gym</h2>
                        </div>
                        <!-- Testimonial Start -->
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            @if (Model.Item1.Any()) // Membership plan collection is Model.Item2
                            {
                                @foreach (var item in Model.Item1)
                                {
                                    if (item.Approved == true)
                                    {
                                        <div class="single-testimonial">
                                            <div class="testimonial-caption">
                                                <p>@item.Feedbacktext <br /></p>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                <p>No testimonials available.</p>
                            }

                            <!-- Single Testimonial -->
                            <div class="single-testimonial">
                                <div class="testimonial-caption">
                                    <p>
                                        Want to share your experience with MyFitnessLife GYM? Add your feedback and help others learn about us!
                                    </p>
                                    <div class="rating-caption">
                                        <span>
                                            <a asp-action="Create" asp-controller="Feedbacks"> <input type="button" value=" Add Feedback" class="btn btn-primary" />
                                        </a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        <!-- Testimonial End -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-2 Area End -->
    <!--? Gallery Area Start -->
    <div class="gallery-area">
        <div class="container-fluid p-0 fix">
            <div class="row">
                <div class="col-lg-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img big-img" style="background-image: url(/HomeDesign/assets/img/gallery/gallery1.png);"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <a href="gallery.html"><i class="ti-arrow-top-right"></i></a>
                                <h3>Best fitness gallery</h3>
                                <p>Fitness, Body</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img small-img" style="background-image: url(/HomeDesign/assets/img/gallery/gallery2.png);"></div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <a href="gallery.html"><i class="ti-arrow-top-right"></i></a>
                                        <h3>Best fitness gallery</h3>
                                        <p>Fitness, Body</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img small-img" style="background-image: url(/HomeDesign/assets/img/gallery/gallery3.png);"></div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <a href="gallery.html"><i class="ti-arrow-top-right"></i></a>
                                        <h3>Best fitness gallery</h3>
                                        <p>Fitness, Body</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img small-img" style="background-image: url(/HomeDesign/assets/img/gallery/gallery4.png);"></div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <a href="gallery.html"><i class="ti-arrow-top-right"></i></a>
                                        <h3>Best fitness gallery</h3>
                                        <p>Fitness, Body</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img small-img" style="background-image: url(/HomeDesign/assets/img/gallery/gallery5.png);"></div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <a href="gallery.html"><i class="ti-arrow-top-right"></i></a>
                                        <h3>Best fitness gallery</h3>
                                        <p>Fitness, Body</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->
    <!--? Want To work -->
    <section class="wantToWork-area w-padding">
        <div class="container">
            <div class="row align-items-end justify-content-between">
                <div class="col-lg-6 col-md-9 col-sm-9">
                    <div class="section-tittle">
                        <span>oUR TEAM MAMBERS</span>
                        <h2>Our Most Exprienced Trainers</h2>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3">
                    <a href="services.html" class="btn wantToWork-btn f-right">More Services</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Want To work End -->
    <!--? Team Ara Start -->
    <div class="team-area pb-150">
        <div class="container">
            <div class="row">
                @if (Model.Item2.Any())
                {
                    @foreach (var item in Model.Item2)
                    {
                        @if (@item.Roleid == 2)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="single-team mb-30">
                                    <div class="team-img">
                                        <!-- Ensure correct path to image -->
                                        <img src="@Url.Content("~/HomeDesign/assets/img/gallery/team1.png")" alt="@item.Fname @item.Lname" />
                                        <div class="team-caption">
                                            <span>@item.Username</span>
                                            <h3><a asp-action="TrainerPlans">@item.Fname @item.Lname</a></h3>
                                            <!-- Blog Social -->
                                            <div class="team-social">
                                                <ul>
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
    <!-- Team Ara End -->
    <!--? Want To work -->
    <section class="wantToWork-area w-padding section-bg" data-background="/HomeDesign/assets/img/gallery/section_bg02.png">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10">
                    <div class="wantToWork-caption">
                        <h2>April membership offer available Now</h2>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3">
                    <a asp-action="Services" class="btn wantToWork-btn f-right">More Services</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Want To work End -->
    <!--? Date Tabs Start -->
    <section class="date-tabs section-padding30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="section-tittle text-center mb-100">
                        <span>OUR tIME SCHEDULE</span>
                        <h2>SELECT THE PERFECT TIME YOU NEED NOW</h2>
                        <h1>
                            <a asp-action="Plans" asp-controller="Membershipplans" class="btn btn-primary" id="nav-home-tab" role="button">
                                See Plans
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Date Tabs End -->
    <!--? Contact form Start -->
    <section class="contact-form-main">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-7 col-lg-7">
                    <div class="form-wrapper">
                        <!--Section Tittle  -->
                        <div class="form-tittle">
                            <div class="row ">
                                <div class="col-lg-11 col-md-10 col-sm-10">
                                    <div class="section-tittle">
                                        <span>Contact Form</span>
                                        <h2>Feel Free to contact with us!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Section Tittle  -->
                        <form id="contact-form" asp-action="message" method="POST">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box user-icon mb-30">
                                        <input type="text" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box email-icon mb-30">
                                        <input type="text" name="email" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-30">
                                    <div class="select-itms">
                                        <select name="select" id="select2">
                                            <option value="">Boxing</option>
                                            <option value="">saiful islam</option>
                                            <option value="">Arafath Miya</option>
                                            <option value="">Shakil Miya</option>
                                            <option value="">Tamim Sharker</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box subject-icon mb-30">
                                        <input type="Email" name="subject" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-box message-icon mb-65">
                                        <textarea name="message" id="message" placeholder="Message"></textarea>
                                    </div>
                                    <div class="submit-info">
                                        <button class="btn" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact left Img-->
        <div class="from-left d-none d-lg-block">
            <img src="~/HomeDesign/assets/img/gallery/contact_form.png" alt="">
        </div>
    </section>
    <!-- Contact form End -->
    <!--? Blog Area Start -->
    <section class="home-blog-area section-padding30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 col-sm-10">
                    <div class="section-tittle text-center mb-100">
                        <span>rECENT NEWS FORM BLOG</span>
                        <h2>gYM TIPS news fOR YOU THAT selected by us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="~/HomeDesign/assets/img/gallery/blog1.png" alt="">
                                <!-- Blog date -->
                                <div class="blog-date text-center">
                                    <span>24</span>
                                    <p>Now</p>
                                </div>
                            </div>
                            <div class="blog-cap">
                                <span>Creative derector</span>
                                <h3><a href="blog_details.html">Footprints in Time is perfect House in Kurashiki</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="~/HomeDesign/assets/img/gallery/blog2.png" alt="">
                                <!-- Blog date -->
                                <div class="blog-date text-center">
                                    <span>24</span>
                                    <p>Now</p>
                                </div>
                            </div>
                            <div class="blog-cap">
                                <span>Creative derector</span>
                                <h3><a href="blog_details.html">Footprints in Time is perfect House in Kurashiki</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->
</main>
