@model IEnumerable<MyFitnessLife.Models.GroupedMembershipPlanViewModes>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <h1>ID</h1>
    <h1>@ViewBag.id</h1>

    <h2>Membership Plans</h2>

    @foreach (var plan in Model)
    {
        <h3>Plan Name: @plan.Planname</h3>
        <p>Plan Price: @plan.Price</p>
        <p>Description: @plan.Description</p>
        <p>Duration: @plan.Durationinmonths</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Subscription ID</th>
                    <th>User ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sub in plan.Subscriptions)
                {
                    <tr>
                        <td>@sub.SubscriptionId</td>
                        <td>@sub.Userid</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
</body>
</html>
